.div {
    height: 700px;
    background-image: url('../foto/BA4916DE-B278-4923-8A01-85172829C4BB_1_105_c.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}

.video {
    width: 400px;
    height: 200px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.item {
    padding: 5px;
}